<div class="d-flex flex-column m-5 vh-100 container-layout">

  <h1 class="text-primary-emphasis pb-4 mb-3" id="category-title">Редактирование категории доходов</h1>

  <!-- EDIT CATEGORY -->
  <div class="categories d-flex flex-column gap-3 col-4">
    <input id="category-name" type="text" class="form-control px-3" value="Зарплата">
    <div class="buttons mt-1 d-flex gap-2 fw-medium">
      <button id="save" type="button" class="btn btn-success btn-sm px-3 py-2">Сохранить</button>
      <button id="cancel" type="button" class="btn btn-danger btn-sm px-3 py-2">Отмена</button>
    </div>
  </div>
  <!-- EDIT CATEGORY -->

</div>

