<div class="d-flex flex-column m-5 container-layout">
    <h1 class="text-primary-emphasis pb-5">Главная</h1>

    <!-- BUTTONS -->
    <div class="buttons d-flex gap-3 align-items-center">
        <div class="buttons d-flex gap-3 align-items-center pb-4 mb-3">
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="today">Сегодня</button>
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="week">Неделя</button>
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="month">Месяц</button>
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="year">Год</button>
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="all-periods">Все</button>
            <button type="button" class="btn btn-outline-secondary filter-buttons" id="interval">Интервал</button>

            <label for="date-from" class="d-flex gap-1 align-items-center">c</label>
            <input class="border border-0 filter-buttons" id="date-from" placeholder="Дата">

            <label for="date-to" class="d-flex gap-1 align-items-center">по</label>
            <input class="border border-0 filter-buttons" id="date-to" placeholder="Дата">

        </div>
    </div>
    <!-- BUTTONS -->

    <div class="d-flex flex-row justify-content-around mt-5 pt-5 gap-5">
        <div class="d-flex flex-column gap-3">
            <h3 class="text-center mb-0 text-primary-emphasis">Доходы</h3>
            <div class="chartsIncome-error" id="income-error">Операции не найдены</div>

            <div class="canvas">
                <canvas id="income-chart" width="437" height="415"></canvas>

            </div>
        </div>

        <div class="d-flex">
            <div class="vr"></div>
        </div>

        <div class="d-flex flex-column gap-3">
            <h3 class="text-center mb-0 text-primary-emphasis">Расходы</h3>
            <div class="charts-error" id="expense-error">Операции не найдены</div>

            <div class="canvas">
                <canvas id="expense-chart" width="437" height="415"></canvas>

            </div>
        </div>
    </div>
</div>
</div>
