<div class="d-flex flex-column m-5 vh-100 container-layout">

    <h1 class="text-primary-emphasis pb-4 mb-3" id="category-title">Создание категории доходов</h1>

    <!-- CREATE CATEGORY -->
    <div class="categories d-flex flex-column gap-3 col-4">
        <input id="category-name" type="text" class="form-control px-3" placeholder="Название...">
        <div class="invalid-feedback text-danger small-text">
            Поле может содержать только русские буквы. Начинаться с пробела слово не может!
        </div>
        <div class="buttons mt-1 d-flex gap-2 fw-medium">
            <button id="save-button" type="button" class="btn btn-success btn-sm px-3 py-2">Создать</button>
            <button id="cancel-button" type="button" class="btn btn-danger btn-sm px-3 py-2">Отмена</button>
        </div>
    </div>
    <!-- CREATE CATEGORY -->

</div>